html, body, #layout {
    height: 100%;
}

#upload_form {
    float: right;
    margin-top: 1%;
}

.header {
    background-color: #1fa3ff;
    color: #FFF;
    padding: 10px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

h1.title {
    display: inline-block;
    margin: 0 0 0 2%;
    font-family: 'Dancing Script', cursive;
}

h1.title a {
    text-decoration: none;
    color: #FFFFFF;
}

.import-button {
    float: right;
    margin-right: 8%;
}

.feature-left-side-nav {
    background-color: #191818;
    height: 100%;
    width: 22%;
    display: inline-block;
    box-shadow: 7px 0px 14px rgba(50, 50, 50, 0.38);
}

#scenarios ul {
    padding-left: 3%;
}
