html, body, #layout {
    height: 100%;
}


.header {
    background-color: #1fa3ff;
    color: #FFF;
    padding: 10px 0;
}

h1.title {
    display: inline-block;
    margin: 0 0 0 2%;
    font-family: 'Dancing Script', cursive;
}

h1.title a {
    text-decoration: none;
    color: #FFFFFF;
}

.import-button {
    float: right;
    margin-right: 8%;
}

.feature-left-side-nav {
    background-color: #191818;
    height: 100%;
    width: 22%;
    display: inline-block;
}

