<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>

<body>
    <h1>Features Report</h1>
    <div class="pure-g">
        <h2 class="pure-u-1 pure-u-md-1-5">{{ feature }}</h2>
        <h3 class="pure-u-1 pure-u-md-4-5">{{ scenarios }}</h3>
    </div>

</body>
</html>
