<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>

<body>
<h1>Features Report</h1>

<div class="main-body">
    <div class="pure-menu feature-left-side-nav pure-u-1 pure-u-md-1-5">
        <div class="pure-menu-heading">Features</div>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">{{ feature }}</a></li>
        </ul>
    </div>
    <div class="scenario-right-side pure-u-1 pure-u-md-3-5">
        {% for scenario in scenarios%}
            <ul class="pure-menu-list">
                <h3 class="class">{{ scenario }}</h3>
            </ul>
        {% endfor %}
    </div>
</div>

</body>
</html>
