<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='pure-min.css') }}">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static',filename='grid-responsive-old.css') }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ url_for('static',filename='grid-responsive-min.css') }}">
    <!--<![endif]-->
    <link href="{{ url_for('static',filename='dancing-script.css') }}" rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
<div id="layout">

    <div class="header">
        <h1 class="title"><a href="/" class="link-no-decoration">Features Report</a></h1>

        <form id="upload_form" method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
            <input id="file" type="file" name="feature_files[]" multiple>
        </form>
    </div>
    <div class="error">
        {% if error %}
        <h2 class="error-message"><a href="/" class="link-no-decoration">{{ error}}</a></h2>
        {% endif %}
    </div>
    <div class="pure-menu feature-left-side-nav" id="features_nav">
        <div class="pure-menu-heading">Features</div>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Feature: Login into social network</a></li>
        </ul>
    </div>

    <div class="scenario-right-side pure-u-1 pure-u-md-3-5" id="scenarios">
        <ul class="pure-menu-list">
            <p>Scenario: Login with valid credentials<br>
                Given I access to the social network home page<br>
                When I enter my email and password and login<br>
                Then I can see my beatiful picture<br>
                And I can see a welcome message
            </p>
            <hr>
        </ul>

        <ul class="pure-menu-list">
            <p>Scenario: Not possible to login with invalid credentials<br>
                Given I have invalid credentials<br>
                When I enter my email and password<br>
                And try to login<br>
                Then I cannot see my beatiful picture<br>
                And I get an error message<br>
            </p>
            <hr>
        </ul>
    </div>
</div>

</body>
</html>
